NODE_ENV=development
STORAGE_DRIVER=local-fs
MONGODB_URI=mongodb://127.0.0.1:27017/mv-vra?replicaSet=rs0
SUPER_ADMIN_EMAIL=admin@mv-vra.local
SUPER_ADMIN_PASSWORD_HASH=
EVIDENCE_ZIP_MAX_BYTES=104857600
